{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-pebbles.html" %}

{% add_lang_files "mozorg/plugincheck-redesign" "firefox/shared" %}

{% block page_image %}{{ static('img/plugincheck/page-image.png') }}{% endblock %}

{% block page_title %}
  {% if l10n_has_tag('plugincheck_update_firefox') %}
    {{ _('More browser features, fewer plugin updates | Firefox') }}
  {% else %}
    {{ _('Keep your Firefox healthy with a quick checkup') }}
  {% endif %}
{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_desc %}
  {% if l10n_has_tag('plugincheck_update_firefox') %}
    {{ _('Browse with fewer interruptions. Features from NPAPI plugins are now automatically supported in Firefox. Download the latest Firefox now!') }}
  {% else %}
    {{ _('Use Flash? QuickTime? Java? If you use these to make your Firefox experience more awesome, check your plugins! They may need to be updated.') }}
  {% endif %}
{% endblock %}

{% block body_class %}{% endblock %}
{% block body_id %}plugincheck{% endblock %}

{% block page_css %}
  {% stylesheet 'plugincheck' %}
{% endblock %}


{% block site_header_logo %}{% endblock %}

{% block content %}
<main role="main">
  <section class="section">
    <div class="content">
    {% if l10n_has_tag('plugincheck_update_firefox') %}

      <div class="message message-firefox-current">
        {# L10n: <br> for visual formatting #}
        <h1>{{ _('Good news - you’re using<br> the latest version of Firefox!') }}</h1>
        <p class="tagline">
        {% trans npapi='https://blog.mozilla.org/futurereleases/2015/10/08/npapi-plugins-in-firefox/' %}
          Even better news - Firefox now <a href="{{ npapi }}">supports features</a>
          that used to require additional plugins.
        {% endtrans %}
        </p>

        <p class="support">
          <a href="https://support.mozilla.org" data-link-type="support" data-link-position="current" data-link-name="Mozilla Support">
            {{ _('Need help? Visit Mozilla Support') }}
          </a>
        </p>
      </div>

      <div class="message message-firefox-old">
        {# L10n: <br> for visual formatting #}
        <h1>{{ _('Better features,<br> fewer plugin updates') }}</h1>
        <p class="tagline">
        {% trans npapi='https://blog.mozilla.org/futurereleases/2015/10/08/npapi-plugins-in-firefox/',
                 blocklist='https://support.mozilla.org/kb/add-ons-cause-issues-are-on-blocklist' %}
          Firefox has been <a href="{{ npapi }}">expanding to support features</a>
          that used to require extra plugins. Now, they’re kept up-to-date automatically
          and managed through <a href="{{ blocklist }}">blocklisting</a> for added security.
          So you can stay current with just one Firefox update.
        {% endtrans %}
        </p>

        <div class="cta">
          <p>{{ _('Download the latest version:') }}</p>
          {{ download_firefox(dom_id='oldfx-download', button_color='button-arrow', download_location='outdated, primary cta', alt_copy=_('Update Firefox')) }}
        </div>

        <p class="support">
          <a href="https://support.mozilla.org" data-link-type="support" data-link-position="outdated" data-link-name="Mozilla Support">
            {{ _('Need help? Visit Mozilla Support') }}
          </a>
        </p>
      </div>

      <div id="not-supported-container" class="message message-not-firefox">
        {# L10n: <br> for visual formatting #}
        <h1>{{ _('Tired of updating plugins?<br> Firefox has you covered.') }}</h1>
        <p class="tagline">
        {% trans npapi='https://blog.mozilla.org/futurereleases/2015/10/08/npapi-plugins-in-firefox/',
                 blocklist='https://support.mozilla.org/kb/add-ons-cause-issues-are-on-blocklist' %}
          As the web moves forward, so do we. Firefox now <a href="{{ npapi }}">supports more features</a>
          that used to require plugins, so you can browse with fewer crashes and interruptions.
          Plus, our <a href="{{ blocklist }}">blocklist system</a> protects you between updates.
        {% endtrans %}
        </p>

        <div class="cta">
          {{ download_firefox(dom_id='notfx-download', button_color='button-arrow', download_location='Not Firefox, primary cta') }}
        </div>
      </div>

    {% else %}

      <div class="message message-firefox-current old-copy">
        <h1>{{ _('Check Your Plugins') }}</h1>
        <p class="tagline">{{ _('Plugins power the videos, animations and games in your Firefox. Keep an eye on their status and keep them up to date.') }}</p>
        <p>{{ _('Be sure to restart your Firefox after making all recommended updates.') }}</p>

        <p class="support">
          <a href="https://support.mozilla.org" data-link-type="support" data-link-position="outdated" data-link-name="Mozilla Support">
            {{ _('Need help? Visit Mozilla Support') }}
          </a>
        </p>
      </div>

      <div class="message message-firefox-old old-copy">
        <h1>{{ _('You are using an older version of Firefox.') }}</h1>
        <p class="tagline">{{ _('Update now to keep your plugins running smoothly and securely.') }}</p>

        <div class="cta">
          {{ download_firefox(dom_id='oldfx-download', button_color='button-arrow', download_location='outdated, primary cta') }}
        </div>

        <p class="support">
          <a href="https://support.mozilla.org" data-link-type="support" data-link-position="outdated" data-link-name="Mozilla Support">
            {{ _('Need help? Visit Mozilla Support') }}
          </a>
        </p>
      </div>

      {# Generic fallback copy swiped from main.lang #}
      <div id="not-supported-container" class="message message-not-firefox old-copy">
        <h1>{{ _('Choose the independent browser') }}</h1>
        <p class="tagline">{{ _('Firefox is non-profit, non-corporate, non-compromised. Choosing Firefox isn’t just choosing a browser. It’s a vote for personal freedom.') }}</p>

        <div class="cta">
          {{ download_firefox(dom_id='notfx-download', button_color='button-arrow', download_location='Not Firefox, primary cta') }}
        </div>
      </div>

    {% endif %}
    </div>
  </section>
</main>

{% include 'firefox/includes/hub/outro.html' %}

{% endblock %}

{% block email_form %}{% endblock %}

{% block js %}
  {% javascript 'plugincheck' %}
{% endblock %}
